@use './partials/_variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.title {
    font-family: serif;

    span {
        font-family: inherit;
        color: $main_color;
    }
}

.subtitle{
    margin-top: 1rem;
    color: $gray_text;
    font-size: .9rem;
}

hr {
    margin-top: 1rem;
    display: block;
    border: 1px solid $main_color;
}

.description {
    font-size: .8rem;
    margin-top: .5rem;
    line-height: 1.3rem;
    color: $gray_text;
}

.btn-rm {
    border: 0;
    background-color: white;
    font-weight: bold;
    font-size: .6rem;
}